extends layout$_bootstrap

block t
 | 银行业务模拟

append h
  +style('bank-simulation')

block b
  .container
    .row
    .row
    .row
    .row

append script
  +script(['bank-simulation', 'bank-simulation--inline'])
  