.container {
  width: 876px;
  margin: 0 auto;
  overflow: auto;
}

.col {
  float: left;
  width: 250px;
  margin: 20px;
  height: 500px;
  border: 1px solid #eee;
  position: relative;
  text-align: center;
  p {
    margin: 0 auto;
    height: 20px;
    border: 1px solid #00f;
  }
  .item-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.red {
  background: #f00;
}
