extends layout$.jade

block t
 | 汉诺塔问题

block h
  +style('hanoi')

block b
  .container
    .col
      .item-container
    .col
      .item-container
    .col
      .item-container
    input#num(type="number", value="5")
    button#btn 开始
append script
  +script(['hanoi', 'hanoi--inline'])